/* Reset basique pour supprimer les marges et paddings par défaut */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Évite les scrollbars horizontales indésirables */
  background-color: #000; /* Assure que le fond reste noir sur tout l'écran */
}

#root {
  width: 100%;
  min-height: 100vh;
}